#header,
#hero,
#benefits,
#cases-of-use {
    background-color: #F9FAFB;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    z-index: 3;
    position: fixed;
    width: 100%;

    nav {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            li {
                a {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

#hero {
    padding-top: 164px;
    border-radius: 0 0 48px 48px;
    overflow: hidden;

    .background-circles {
        width: 80vw;
        height: 80vw;
        position: absolute;
        bottom: -20%;
        z-index: 1;

        .circle {
            border-radius: 50%;
            border: 1px solid #C3C4C8;
        }

        .big-circle {
            width: 100%;
            height: 100%;
            position: absolute;

        }

        .small-circle {
            position: absolute;
            width: 80%;
            height: 80%;
            top: 10%;
            left: 10%;
        }
    }

    .container {
        flex-direction: column;
        z-index: 2;

        .text-content {
            max-width: 792px;
            align-items: center;
            text-align: center;

            p {
                max-width: 588px;
                color: #4F515A;
            }

            .wrapper {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }
        }

        .image-content {
            height: 300px;

            width: auto;
        }
    }

    @media screen and (max-width: 480px) {
        border-radius: 0 0 24px 24px;

        .container {
            .text-content {
                width: 100%;

                .wrapper {
                    flex-direction: column;
                }
            }
        }
    }
}

#intro {

    .container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }

    .text-content,
    .image-content {
        width: 100%;
    }

    .image-content {
        padding: 0 36px;
        margin: 0;

        .inner-box {
            background-color: #161925;
            border-radius: 36px;

            img {
                width: 100%;
            }
        }
    }

    .text-content {

        h4,
        h3,
        h6 {
            color: #FFF;
        }

        p {
            color: #DBF0FE;
        }

        .item {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    @media screen and (max-width: 480px) {
        .container {
            flex-direction: column;
        }
    }
}

#benefits {
    border-radius: 48px 48px 0 0;

    .container {
        flex-direction: column;

        .text-content {
            max-width: 792px;

            text-align: center;
        }

        .grid-benefits {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;

            .item {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .icon {
                    height: 64px;
                    width: 64px;
                    background-color: #E2F0FB;
                    color: #1098F7;
                    border-radius: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                p {
                    color: #4F515A;
                }
            }

            @media screen and (max-width: 480px) {
                grid-template-columns: 1fr;
            }
        }
    }

    @media screen and (max-width: 480px) {
        border-radius: 24px 24px 0 0;
    }

}

#cases-of-use {
    .container {
        flex-direction: column;

        .text-content {
            align-items: center;
            text-align: center;
            max-width: 792px;
        }

        .grid-case-of-uses {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;

            .item {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .image-content {
                    display: flex;
                    aspect-ratio: 1 / 1;
                    width: 100%;
                    background-color: #1098F7;
                    padding: 64px;
                    border-radius: 24px;
                    height: 200px;


                    img {
                        width: 100%;

                    }
                }

                .text-content {
                    text-align: center;
                    gap: 16px;
                }
            }

            @media screen and (max-width: 480px) {
                grid-template-columns: 1fr;
            }
        }
    }
}

.background-bar {
    background-color: #161925;

    .inner-curved-box {
        background-color: #F9FAFB;
        border-radius: 0 0 48px 48px;
        height: 48px;
        width: 100%;

        @media screen and (max-width: 480px) {
            height: 24px;
            border-radius: 0 0 24px 24px;

        }
    }

}


#links {

    .container {
        padding: 12px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #8A8C92;

        ul {
            display: flex;
            flex-direction: row;

            li {
                a {
                    color: #FFF;
                }
            }
        }
    }
}


#social {
    padding: 0;

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
            color: #F9FAFB;
        }

        ul {
            display: flex;
            flex-direction: row;

            li {
                a {
                    color: #FFF;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

#cta {
    .container {
        width: 100%;
        max-width: 792px;

        .text-content {
            align-items: center;
            text-align: center;

            h2,
            h6 {
                color: #FFF;
            }

            .wrapper {
                display: flex;
                flex-direction: row;
                gap: 8px;

                .secondary-button {
                    border: 1px solid #8A8C92;
                    color: #FFF;
                }

                @media screen and (max-width: 480px) {
                    flex-direction: column;
                }
            }
        }
    }
}

#cta,
#links,
#social {
    background-color: #161925;
    color: #FFF;
}